body{
    font-family: 'Poppins', sans-serif;
}
.header-section {
    background-color: #264653;
}
.bg-form-section{
    background-color: #264653;
}
.header-h1
{
    color: #FFFFFF;
    font-size: 36px !important;
}
.fetured-heading{
    font-size: 36px !important;
}
.clients-text{
    font-size: 56px !important;
}
.header-p-color
{
    color: #E0E0E0;
    text-align: justify;
}
.btn-purchase{
    background-color: #E76F51;
}
.img-gray{
    -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
}
.text-orange{
    color: #E76F51;
}
.fas{
    color: #E77C40 ;
    width: 23px;
    height: 23px;
}
.far{
    color: #E77C40 ;

}
.user-name{
    color: #23A6F0;
}